/*
    Importing fonts
    font-family: 'Montserrat', sans-serif; 200, 300, 400, 500, 600
    font-family: 'Dancing Script', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

/*Adding TailWind CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-color {
    animation: animate-color 8s infinite;
}

@keyframes animate-color {
    from {
        color: #c2eec2;
    }

    50% {
        color: #aed2ae;
    }

    to {
        color: #c2eec2;
    }
}
